/* Reset básico e fonte */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Bloco: produtos */
.produtos {
    max-width: 640px;
    width: 100%;
    margin: 56px auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 1%;
    gap: 20px; /* Espaçamento uniforme entre os itens */
    padding: 0 20px; /* Margem lateral para ajustar o espaçamento nos cantos */
}

/* Bloco: produtos__item */
.produto__item {
    padding: 8px;
} 

/* Modificador: produtos__item--destaque */
.produtos__item--destaque {
    border: 2px solid gold;
    background-color: #ffff42;
}

/* Elemento: produtos__imagem */
.produtos__imagem {
    width: 100%;
}

/* Elemento: produtos__nome */
.produtos__nome {
    font-size: 1.2em;
    margin: 8px 0;
}

/* Elemento: produtos__descricao */
.produtos__descricao {
    color: gray;
}